@font-face {
    font-family: "merriweather";
    src: url(../fonts/merri-sans/MerriweatherSans-Light.ttf);
}

.navbar {
    background-color: #15362a !important;
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
}

.nav-link {
    color: white !important;
    font-family: "merriweather" !important;
    font-size: 16px !important;
    margin-right: 10px;
}

.navbar-text {
    margin-right: 60px !important;
}

.fa-bars {
    color: white;
}

.caro{
     margin-top: 20px;
}

.cont-3 {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.flex-cont-1 {
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 40px 20px 20px 20px;
}

.cont3-sub-1 {
    text-align: justify;
    line-height: 2;
    padding: 40px 20px 20px 20px;
}

.cont3-sub-2 img {
    width: 20%;
}

.cont-4 {
    background-color: #67d4a0;
    font-size: 18px;
    display: flex;
    /* flex-direction: column-reverse; */
    padding: 40px 20px 20px 20px;
}

.cont4-sub-1 p {
    line-height: 2;
    padding: 50px 20px 20px 20px;
    text-align: justify;
}

.cont4-sub-2 img {
    width: 100%;
}

@media only screen and (max-width: 990px) {
    .cont-4 {
        flex-direction: column-reverse;
    }
}

.flex-cont-2 {
    padding: 40px 20px 20px 20px;
    background-color: whitesmoke;
    text-align: center;
}

.size {
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
}

.size img {
    border-radius: 20px 20px 20px 20px;
}

.cont-5 {
    padding: 40px 20px 20px;
    background-color: #67d4a0;
}

.vid{
    padding: 20px 20px 20px 20px;
}


.contact {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: unset;
    background-color: whitesmoke !important;
    color: black !important;
    line-height: 2 !important;
    padding: 0px 80px 0px 0px !important;
    justify-content: space-between;
}

.contact div{
    padding: 40px 40px 40px 40px !important;
}

.iconsize {
    /* color: #67d4a0; */
    color: gray;
    font-size: 30px;
    padding: 5px;
}

.icon-margin{
    margin-right: 5px;
}


.footer {
    width: 100%;
    background-color: #15362a;
    color: white;
    padding: 20px 20px 20px 20px;
    z-index: 999;
}

.footer p{
    margin-bottom: 0px;
    text-align: center;
}


@media only screen and (min-height: 1140px) {
    .footer {
        position: fixed;
        bottom: 0px;
    }
}